/*登录*/
.log_login_bg{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-image: url(../web/images/background.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.log_login_bg .log_nav{
	width: 30rem;
	height: 60px;
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
}
.log_login_bg .log_nav a{
	width: 1.5rem;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 10px 20px;
	-webkit-tap-highlight-color: transparent;
 	-webkit-touch-callout: none;
  	-webkit-user-select: none;
}
.log_login_bg .log_nav p{
	font-size: 20px;
	color: #fff;
	line-height: 60px;
}
.log_login_logo{
	width: 7rem;
	margin-top: 30px;
}
.log_login_logo img{
	width: 100%;
}
.log_login_logo_word{
	margin-top: 1rem;
	color: #999999;
}
.log_login_ask{
	display: flex;
	flex-direction: column;
	width: 27rem;
	height: auto;
	align-items: center;
}
.log_input_icon{
	background-repeat: no-repeat;
	background-position: 3rem 50%;
	background-size: 25px 25px;
	float: left;
	width: 5rem;
	height: 45px;
	line-height: 45px;
	background-color: transparent;
	border: none;
}
.log_user{
	background-image: url(../web/images/user.png);
	background-position: 50% 50%;
}
.log_password{
	background-image: url(../web/images/password.png);
	background-position: 50% 50%;
}
.log_verificatincode {
    background-image: url(../web/images/verified_code.png);
	background-position: 50% 50%;
}
.log_code_picture {
    display: inline-block;
    width: 100px;
    height: 40px;
    position: absolute;
    margin-top: 3px;
    position: absolute;
    right: 3px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.log_code_picture img{
	width: 100% !important;
	height: 100%;
}
.log_vertical_bar{
	float: left;
	width: 1px;
	height: 20px;
	display: block;
	margin-top: 14px;
	background-color: #999999;
}
.log_inupt_content{
	float: left;
	width: 19rem;
	height: 45px;
	line-height: 45px;
	padding-left: 1rem;
	padding-top: 1px;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 18px;
	color: #fff;
	font-weight: 100;
}
.log_login_ask p{
	width: 27rem;
	height: 45px;
	margin-top: 15px;
	position: relative;
	border: 1px solid #999999;
	border-radius: 25px;
	float: left;
	position: relative;
}
.log_login_ask p:first-child{
	margin-top: 60px;
}
.log_login_ask img{
	width: 10%;
	float: left;
}
.log_login_ask .log_login_btn{
	width: 27rem;
	height: 50px;
	line-height: 50px;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 25px;
	background-image: url(../web/images/login.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 27rem 50px;
	margin-top: 30px;
	font-size: 20px;
	webkit-appearance: none;
}
.go_reg{
	width: 24rem;
	height: 30px;
	margin-top: 35px;
}
.go_reg .go_reg_register{
	float: left;
}
.go_reg .go_reg_forget_password{
	float: right;
}
.go_reg a{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #999;
	text-decoration: none;
	font-size: 18px;
	-webkit-tap-highlight-color: transparent;
 	-webkit-touch-callout: none;
  	-webkit-user-select: none;
}
/*注册*/
.log_back{
	margin-top: 40px;
	margin-left: 40px;
}
.log_back img{
	width: 25px;
}
.log_inupt_content_verificode{
	float: left;
	width: 10rem;
	height: 45px;
	line-height: 45px;
	padding-left: 1rem;
	padding-top: 1px;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 18px;
	color: #999999;
	font-weight: 100;
}
.log_btn_verificode{
	float: right;
	width: 9rem;
	height: 45px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border: none;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	background-color: #01a8ff;
	font-size: 12px;
}
.log_verified_code{
	background-image: url(../web/images/verified_code.png);
	background-position: 50% 50%;
}
.log_invited_code{
	background-image: url(../web/images/invited_code.png);
	background-position: 50% 50%;
}
.log_tsf_password{
	background-image: url(../web/images/tsf_password.png);
	background-position: 50% 50%;
}
.log_register_btn{
	width: 27rem;
	height: 50px;
	line-height: 50px;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 25px;
	background-image: url(../web/images/login.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 27rem 50px;
	margin-top: 40px;
	font-size: 20px;
	webkit-appearance: none;
}
/*忘记密码*/
.log-fp-bg{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
}
.log-fp-header{
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	border-bottom: 8px solid #F3F3F3;
}
.log-fp-header img{
	float: left;
	width: 2rem;
	padding-top: 18px;
	margin-left: -15rem;
	position: absolute;
}
.log-fp-header p{
	font-size: 20px;
}
.log-fp-content{
	height: 5rem;
	font-size: 18px;
	padding: 0 3%;
	border-bottom: 2px solid #F3F3F3;
}
.log-fp-content span{
	float: left;
	width: 30%;
	line-height: 5rem;
	text-align: center;
}
.log-fp-content input{
	border: none;
	outline: none;
	float: left;
	width: 67%;
	font-size: 14px;
	margin-top: 19px;
	padding-left: 3%;
}
.log-fp-content-code{
	height: 5rem;
	font-size: 18px;
	padding: 0 3%;
	border-bottom: 2px solid #F3F3F3;
}
.log-fp-content-code span{
	float: left;
	width: 8rem;
	line-height: 5rem;
	text-align: center;
	width: 30%;
}
.log-fp-content-code .log-fp-code{
	border: none;
    outline: none;
    float: left;
    width: 40%;
    padding-left: 3%;
    font-size: 14px;
    height: 5rem;
    line-height: 5rem;
}
.log-fp-content-code .get_code{
	float: left;
	width: 26%;
	height: 3rem;
	margin-top: 1rem;
	text-align: center;
	font-size: 12px;
	color: #00D1FF;
	border: none;
	outline: none;
	background: rgba(0,0,0,.0);
	border-left: 1px solid #ddd;
}
.log-fp-input div:last-child{
	border-bottom: 8px solid #F3F3F3;
}
.log-fp-btn{
	text-align: center;
}
.log-fp-btn button{
	width: 27rem;
	height: 50px;
	line-height: 50px;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: #00D1FF;
	margin-top: 80px;
	font-size: 20px;
	webkit-appearance: none;
}
/*首页*/
.home{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #FFFFFF;
	padding-bottom: 67px;
}
.title{
	text-align: center;
	color: #FFFFFF;
	z-index: 999;
	position: relative;
	margin-top: -120px;
	font-weight: bold;
}
.title-C{
	font-size: 23px;
}
.title-E{
	font-size: 10px;
}
.paomadeng{
	width: 100%;
	height: 60px;
	margin-top: 98px;
	border-bottom: 8px solid #F3F3F3;
}
.paomadeng img{
	margin-top: 10px;
	margin-left: 1rem;
	width: 30px;
	height: 30px;
	float: left;
}
.word{
	margin-top: 14px;
	padding-left: 5px;
	color: #00D1FF;
	font-size: 20px;
	width: 28rem;
	float: left;　
}
.mui-content{
	margin-top: -15px;
	border-bottom: 8px solid #F3F3F3;
}
.mui-content>.mui-table-view:first-child{
	background-color: #FFFFFF;
}
.mui-grid-view.mui-grid-9 .mui-media{
	border: none;
}
.mui-icon img{
	width: 45px;
	height: 45px;
}
.application-scenarios{
	width: 30rem;
	margin-left: 2rem;
	font-size: 18px;
	color: #00D1FF;
}
.application-scenarios-title{
	height: 60px;
	padding-top: 20px;
}
.application-scenarios-square{
	width: 12px;
	height: 12px;
	background-color: #00D1FF;
	float: left;
	margin-right: 1rem;
	margin-top: 3px;
}
.application-scenarios>.mui-table-view:last-child{
	background-color: #FFFFFF;
	border-left: none;
}
.footer>.mui-table-view:last-child{
	background-color: #394554;
	border-left: none;
}
.mui-grid-view.mui-grid-9 .mui-media .mui-icon{
	font-size: 1.4em;
}
.footer .mui-grid-view.mui-grid-9 .mui-table-view-cell{
	padding: 0 14px;
}
.footer .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	margin-top: 2px;
}
.footer{
	width:100%;
	height:65px;
	position:fixed;
	bottom:0;
	left:0;
}
/*商城*/
.sps-market{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	padding-bottom: 67px;
}
.sps-search{
	width: 100%;
	height: 120px;
	background-color: #FFFFFF;
	padding-top: 10px;
}
.sps-search-box{
	margin-left: 9%;
	width: 67%;
	height: 42px;
	border: 1px solid #C0C0C0;
	border-radius: 25px;
	background-color: #F3F3F3;
	
}
.sps-search-box img{
	position: absolute;
	left: 14%;
	top: 20px;
	width: 20px;
}
.sps-search-box input{
	position: absolute;
	left: 20%;
	width: 55%;
	border: none;
	outline: none;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: #F3F3F3;
}
.sps-search-box span{
	position: absolute;
	top: 20px;
	left: 81%;
	font-size: 18px;
}
.sps-market-bar table{
	width: 80%;
	margin-left: 10%;
	margin-top: 40px;
}
.sps-market-bar table tr a{
	color: #7D7D7D;
	font-size: 18px;
}
.sps-market-bar table tr a img{
	position: relative;
	left: 6px;
	height: 14px;
}
.sps-content .mui-table-view .mui-media-object{
	max-width: 70px;
    height: 70px;
}
.sps-content .mui-ellipsis{
	font-size: 16px;
	line-height: 30px;
}
.sps-content p{
	font-size: 18px;
	margin-top: 5px;
	color: red;
}
.sps-content p button{
	border-color: red;
	border-radius: 25px;
	height: 20px;
	line-height: 5px;
	margin-top: 5px;
	float: right;
	color: red;
}
/*我的*/
.sps-my{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	padding-bottom: 67px;
}
.sps-my-title{
	width: 100%;
	height: 160px;
	background: url(../web/images/my_title.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
	background-color: #FFFFFF;
}
.sps-my-title p{
	width: 80%;
	margin-left: 10%;
	padding-top: 20px;
}
.sps-my-title p img{
	width: 30px;
}
.sps-my-title p a:last-child{
	float: right;
}
.sps-my-head{
	padding-top: 20px;
}
.sps-my-head div{
	width: 80px;
	height: 80px;
	border: 1px solid #C0C0C0;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	/*z-index: 999;
	background: url(../web/images/guigetu.png);
	background-repeat: no-repeat;
	background-position: center;*/
}
.sps-my-head div img{
	width: 7rem;
	border-radius: 50%;
}
.sps-my-info{
	text-align: center;
	background-color: #FFFFFF;
}
.sps-my-info-one{
	padding-top: 12px;
}
.sps-my-info-one span{
	color: #000000;
}
.sps-my-info-one #level{
	background-color: #00D1FF;
	color: #FFFFFF;
	border-radius: 25px;
	font-size: 10px;
    padding: 1px 4px;
}
.sps-my-info-two img{
	width: 1.5rem;
}
.sps-my-info-two span{
	line-height: -5px;
	color: #FF8C06;
}
.sps-my-info-three table{
	width: 100%;
}
.sps-my-info-three table td{
	width: 33.3%;
	text-align: center;
}
.sps-mylist-one{
	font-size: 16px;
}
.sps-mylist-left img{
	width: 24px;
}
.sps-mylist-right{
	float: right;
	padding-top: 8px;
	color: #00D1FF;
}
.sps-mylist-right input{
	border: none;
	outline: none;
	min-width: 1rem;
}
.sps-mylist-right img{
	width: 16px;
}
.sps-mylist-one .mui-table-view-cell>a:not(.mui-btn){
	
}
/*购物车*/
.sps-shopping-car{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	padding-bottom: 127px;
	background-color: #FFFFFF;
}
.sps-shopping-car-top{
	text-align: center;
	padding-top: 15px;
	height: 60px;
	border-bottom: 8px solid #F3F3F3;
}
.sps-shopping-car-top span:first-child{
	font-size: 22px;
}
.sps-shopping-car-top span:last-child a{
	font-size: 16px;
	color: #939393;
	position: relative;
	left: 8rem;
}
.sps-shopping-car-checkbox{
	height: 20px;
	margin-top: 28px;
}
.sps-shopping-car-body .mui-table-view .mui-media-object{
	max-width: 32rem;
	height: 74px;
}
.sps-shopping-car-body .mui-ellipsis{
	max-height: 44px;
	white-space: normal;
	font-size: 16px;
}
.sps-shopping-car-price{
	line-height: 35px;
	float: left;
}
.sps-shopping-car-price span{
	color: red;
	font-size: 16px;
}
.plus-or-minus table td{
	font-size: 16px;
	width: 20px;
	text-align: center;
	border: 1px solid #C0C0C0;
}
.plus-or-minus{
	float: right;
	margin-top: 5px;
}
.sps-shopping-car-total{
	width:100%;
	height:60px;
	position:fixed;
	bottom:65px;
	left:0;
	background-color: #FFFFFF;
	border-top: 1px solid #C0C0C0;
}
.sps-shopping-car-total div:first-child{
	margin-left: 15px;
    margin-top: -6px;
    font-size: 14px;
}
.sps-shopping-car-totalno{
	line-height: 65px;
    font-size: 14px;
    margin-left: 3rem;
}
.sps-shopping-car-totalno span:first-child{
	margin-left: -3rem;
	margin-right: 3rem;
	color: #C0C0C0;
}
.sps-shopping-car-totalno span:last-child{
	color: red;
}
.sps-shopping-car-total div:last-child{
	position: relative;
	float: right;
}
.sps-shopping-car-total div:last-child button{
	font-size: 14px;
	color: #FFFFFF;
	height: 60px;
	background-color: #00D1FF;
	border-radius: 0;
	border: none;
	outline: none;
}
.mui-table-view-cell:after{
	left: 0;
}
/*编辑购物车*/
.sps-shopping-car-edit{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	padding-bottom: 60px;
	background-color: #FFFFFF;
}
.sps-shopping-car-edit-bottom{
	width:100%;
	height:60px;
	position:fixed;
	bottom:0;
	left:0;
	background-color: #FFFFFF;
	border-top: 1px solid #C0C0C0;
}
.sps-shopping-car-edit-bottom div:first-child{
	margin-left: 15px;
    margin-top: -6px;
    font-size: 14px;
}
.sps-shopping-car-edit-totalno{
	line-height: 65px;
    font-size: 14px;
    margin-left: 3rem;
}
.sps-shopping-car-edit-totalno span:first-child{	
    margin-left: -3rem;
	margin-right: 3rem;
	color: #C0C0C0;
}
.sps-shopping-car-edit-bottom div:last-child{
	position: relative;
	float: right;
}
.sps-shopping-car-edit-bottom div:last-child button{
	font-size: 16px;
	color: #FFFFFF;
	height: 60px;
	width: 14rem;
	background-color: #00D1FF;
	border-radius: 0;
}
/*支付转入*/
.sps-pay-in{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	padding-bottom: 60px;
}
.sps-pay-in-title{
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #FFFFFF;
	padding-top: 10px;
}
.sps-pay-in-btn{
	width: 60%;
	height: 40px;
	margin-left: 20%;
	border: 1px solid #00D1FF;
	border-radius: 25px;
}
.sps-pay-in-leftbtn{
	width: 50%;
	height: 100%;
	line-height: 40px;
	background-color: #00D1FF;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	font-size: 18px;
	float: left;
}
.sps-pay-in-leftbtn a{
	color: #FFFFFF;
}
.sps-pay-in-rightbtn a{
	color: #00D1FF;
}
.sps-pay-in-rightbtn{
	width: 50%;
	height: 100%;
	float: right;
	line-height: 40px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	font-size: 18px;
}
.sps-pay-in-property{
	padding-top: 30px;
	/*padding-left: 3rem;*/
}
.sps-pay-in-property-cont span:first-child{
	color: #000000;
}
.sps-pay-in-property-cont span:last-child{
	color: red;
	font-size: 18px;
}
.sps-pay-in-2dcode{
	background: #4C555B;
	margin-left: -3rem;
	padding-left: 20px;
	margin-top: 30px;
	height: 120px;
}
.sps-pay-in-2dpicture img{
	height: 100px;
	margin-top: 10px;
	float: left;
}
.sps-pay-in-2dright{
	position: absolute;
	border-left: 1px solid #FFFFFF;
	margin-left: 11rem;
	padding-left: 2rem;
	margin-top: 20px;
	height: 80px;
	font-size: 16px;
}
.sps-pay-in-2dright a{
	color: #FFFFFF;
}
.sps-pay-in-2dright a span{
	position: absolute;
	margin-top: 30px;
	margin-left: -4rem;
}
.sps-pay-in-2dright a:last-child span{
	position: absolute;
	margin-top: 30px;
	/*margin-left: 12rem;*/
}
.sps-pay-in-2dright img{
	height: 40px;
	margin-top: 20px;
	margin-right: 4rem;
}
.sps-pay-in-detail{
	margin-top: 10px;
	background-color: #FFFFFF;
	min-height: 680px;
}
.sps-pay-in-detail-title{
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.sps-pay-in-detail-title img{
	height: 18px;
}
.sps-pay-in-detail-title span{
	position: absolute;
	margin-left: 1rem;
	color: #00D1FF;
	font-size: 16px;
}
.sps-pay-in-detail-cont table{
	width: 100%;
	text-align: center;
}
.sps-pay-in-detail-cont table td{
	width: 25%;
	height: 60px;
	font-size: 14px;
}
.sps-pay-in-detail-cont thead{
	background-color: #E3ECF1;
}
.sps-pay-in-detail-cont tbody tr{
	border-bottom: 1px solid #F3F3F3;
}
/*支付转出*/
.sps-pay-out-leftbtn{
	width: 50%;
	height: 100%;
	line-height: 40px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	font-size: 18px;
	float: left;
}
.sps-pay-out-leftbtn a{
	color: #00D1FF;
}
.sps-pay-out-rightbtn a{
	color: #FFFFFF;
}
.sps-pay-out-rightbtn{
	width: 50%;
	height: 100%;
	float: right;
	line-height: 40px;
	background-color: #00D1FF;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	font-size: 18px;
}
.sps-pay-out-2dcode{
	background: #4C555B;
	/*margin-left: -3rem;
	padding-left: 20px;*/
	padding-top: 20px;
	margin-top: 30px;
	height: 250px;
}
.sps-pay-out-2dcode p{
	font-size: 18px;
	margin-bottom: 0;
}
.sps-pay-out-2dcode p span{
	color: #FFFFFF;
}
.sps-pay-out-2dcode input{
	width: 68%;
}
.sps-pay-out-2dcode p img{
	position: absolute;
	height: 26px;
	margin: 7px -3rem;
}
.sps-pay-out-2dcode-btn input{
	width: 90%;
	height: 40px;
	color: #FFFFFF;
	background-color: #00D1FF;
}
/*产品详情*/
.sps-product-detail{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #FFFFFF;
	padding-bottom: 60px;
}
.sps-product-detail-cont ul li p{
	padding-left: 2rem;
	background-color: #FFFFFF;
}
.sps-product-detail-introduction{
	color: #000000;
}
.sps-product-detail-price{
	color: red;
	font-size: 18px;
	margin-bottom: 0;
	padding-bottom: 10px;
	border-bottom: 8px solid #F3F3F3;
}
.sps-product-detail-price:before{
	content: '￥';
	color: red;
}
.sps-product-detail-bottom{
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
}
.sps-product-detail-add input{
	width: 50%;
	height: 60px;
	border-radius: 0;
	color: #FFFFFF;
	font-size: 16px;
	background-color: #F17801;
	float: left;
}
.sps-product-detail-buy input{
	width: 50%;
	height: 60px;
	border-radius: 0;
	color: #FFFFFF;
	font-size: 16px;
	background-color: #00D1FF;
}
/*储值钱包链*/
.sps-save-wallet{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #FFFFFF;
}
.sps-save-wallet-total{
	width: 100%;
	height: 160px;
	background-color: #00A8FF;
	text-align: center;
}
.sps-save-wallet-total p:first-child{
	color: #FFFFFF;
	padding-top: 20px;
}
.sps-save-wallet-total p:last-child{
	color: #FEF500;
	padding-top: 20px;
	font-size: 32px;
}
.sps-save-wallet-status{
	height: 60px;
	background-color: #36BAFF;
	padding-top: 10px;
}
.sps-save-wallet-status table{
	width: 100%;
	text-align: center;
	height: 40px;
	color: #FFFFFF;
	font-size: 14px;
}
.sps-save-wallet-status table td{
	border-right: 1px solid #F3F3F3;
}
.sps-save-wallet-ex{
	width: 100%;
	height: 70px;
	border-bottom: 8px solid #F3F3F3;
}
.sps-save-wallet-ex p{
	padding-top: 20px;
}
.sps-save-wallet-ex span{
	color: #000000;
	padding-left: 3rem;
}
.sps-save-wallet-ex img{
	height: 16px;
	padding-top: 5px;
	margin-left: 55%;
}
.sps-save-wallet-warn{
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
}
.sps-save-wallet-warn p{
	color: #FE6601;
}
/*订单详情*/
.sps-pay-order{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;	
	background-color: #FFFFFF;
}
.sps-pay-order-detail{
	margin: 8px 2rem;
}
.sps-pay-order-product img{
	height: 80px;
}
.sps-pay-order-words p{
	margin-left: 2rem;
}
.sps-pay-order-words p:first-child{
	color: #000000;
}
.sps-price:before{
	content: '￥';
}
.sps-price{
	color: red;
}
.sps-pay-order-words p:last-child span:last-child{
	float: right;
}
.sps-pay-order-words p:last-child span:last-child:before{
	content: 'x';
}
.sps-pay-order-needmoney{
	height: 60px;
	border-bottom: 1px solid #C0C0C0;
}
.sps-pay-order-needmoney .sps-price{
	font-size: 18px;
	margin-left: -50px;
}
.sps-pay-order-consignee{
	margin-top: 20px;
	width: 100%;
}
.sps-pay-order-consignee p{
	margin-bottom: 0;
}
.sps-pay-order-consignee td:first-child{
	width: 90%;
	color: #6A6A6A;
}
.sps-pay-order-consignee td:last-child img{
	height: 20px;
	float: right;
}
.sps-pay-order-creditspay div{
	height: 80px;
	width: 100%;
}
.sps-pay-order-creditspay div:first-child{
	padding-left: 6%;
}
.sps-pay-order-creditspay-one{
	padding-top: 50px;
}
.sps-pay-order-creditspay-one span:first-child{
	font-size: 18px;
}
.sps-pay-order-creditspay-one span:last-child{
	color: red;
}
.sps-pay-order-creditspay-two{
	border-top: 1px solid #C0C0C0;
	padding-top: 20px;
}
.sps-pay-order-creditspay-two table{
	width: 88%;
	margin-left: 6%;
}
.sps-pay-order-creditspay-two img{
	height: 25px;
}

/*分享好友*/
.sps-share{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;	
}
.sps-share-picture{
	width: 90%;
	height: 560px;
	margin: 5% 5%;
	background-color: #FFFFFF;
	border-radius: 10px;
	text-align: center;
}
.sps-share-picture-one{
	background-color: #F17801;
	height: 50px;
	color: #FFFFFF;
	line-height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.sps-share-picture-two{
	padding-top: 25px;
	font-size: 14px;
}
.sps-share-picture-three{
	font-size: 32px;
	color: #00D1FF;
	padding-top: 20px;
}
.sps-share-picture-four{
	padding-top: 20px;
}
.sps-share-picture-four img{
	border: 1px solid #C0C0C0;
}
.sps-share-picture-five{
	padding-top: 25px;
}
.sps-share-picture-five input{
	width: 90%;
	border-radius: 0;
}
.sps-share-picture-five button{
	width: 90%;
	color: #FFFFFF;
	background-color: #00D1FF;
	height: 40px;
	font-size: 16px;
}
/*公告*/
.sps-announce{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;		
}
.sps-announce-item span:first-child p{
	width: 26rem;
}
.sps-announce-p1{
	color: #00D1FF;
	padding-bottom: 10px;
}
.sps-announce-item .sps-mylist-right{
	margin-top: -40px;
}
/*公告详情*/
.sps-announce-detail{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;	
}
.sps-btm-words{
	font-size: 32px;
	color: #C0C0C0;
	line-height: 500px;
	text-align: center;
	display: block;
}
/*SPS链*/
.sps-chain{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;	
}
.sps-chain-title{
	background-color: #FFFFFF;
	font-size: 16px;
	height: 55px;
	padding-left: 30px;
	line-height: 55px;
	border-bottom: 1px solid #F3F3F3;
}
.sps-chain-title span{
	color: #F17801;
}
.sps-chain .sps-pay-in-detail{
	margin-top: 0;
}
/*关于SPS*/
.sps-detail{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #FFFFFF;
}
.sps-detail .sps-announce-detail-cont{
	text-align: center;
	border-bottom: none;
	padding-top: 60px;
}
.sps-detail .sps-announce-detail-cont .sps-announce-p1 img{
	width: 6rem;
}
.sps-detail .sps-btm-words{
	margin-top: -80px;
}
/*积分互转*/
.sps-credits-ex{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #FFFFFF;	
}
.sps-credits-ex .sps-pay-in-property{
	padding-top: 0;
}
.sps-credits-ex .sps-pay-out-2dcode{
	margin-top: 0;
	background-color: #FFFFFF;	
}
.sps-credits-ex .sps-pay-out-2dcode p span{
	color: #000000;
}
.sps-credits-ex-title{
	font-size: 18px;
	border-bottom: 1px solid #F3F3F3;
	padding-left: 1.7rem;
	line-height: 60px;
}
.sps-credits-ex-title span:last-child{
	margin-left: 1rem;
	color: #F17801;
}
.sps-credits-ex .sps-pay-in-detail{
	margin-top: 20px;
	border-top: 8px solid #F3F3F3;
}
/*交易记录挂单*/
.sps-tsf-guadan{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #FFFFFF;	
}
.sps-tsf-guadan .sps-credits-ex-title span:last-child{
	color: #11B9FC;
	margin-left: 11rem;
}
.sps-tsf-guadan .sps-credits-ex-title span:last-child img{
	position: absolute;
	padding-top: 21px;
	width: 1.5rem;
}
.sps-tsf-guadan .sps-pay-in-detail{
	margin-top: 0;
}
.sps-tsf-guadan .sps-pay-in-detail-cont table td{
	width: 20%;
}
/*钱包链*/
.sps-qianbaolian-cur-price{
	margin-top: 10px;
	padding-bottom: 15px;
}
.sps-qianbaolian-conversion-credits{
	padding-bottom: 15px;
}
/*温馨提示*/
.sps-warm-reminder{	
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #FFFFFF;
}
.sps-warm-reminder-cont{
	padding-top: 30px;
	padding-left: 15px;
}
.sps-warm-reminder-cont p{
	color: #000000;
}
/*我的sps商链*/
.sps-my-spschain{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #FFFFFF;
}
.sps-my-spschain .sps-mylist-one ul li{
	height: 60px;
	line-height: 40px;
}
.sps-my-spschain .sps-mylist-one .sps-mylist-right{
	color: #F17801;
	padding-top: 0;
	width: 7rem;
}
.sps-my-spschain .sps-mylist-one .sps-mylist-right img{
	position: absolute;
	padding-top: 12px;
}
.sps-my-spschain-footer{
	width: 100%;
	height: 8px;
	background-color: #F3F3F3;
}
/*主动锁SPS链*/
.sps-initiative-spschain{	
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
}
.sps-initiative-spschain .sps-save-wallet-status{
	background-color: #FFFFFF;
	height: 120px;
}
.sps-initiative-spschain .sps-save-wallet-status table{
	margin-top: 20px;
}
.sps-initiative-spschain .sps-save-wallet-status table td{
	width: 50%;
	height: 60px;
	border-right: 2px solid #F3F3F3;
}
.sps-initiative-spschain .sps-pay-out-2dcode{
	background-color: #F3F3F3;
	margin-top: -30px;
	padding-top: 40px;
	text-align: center;
}
.sps-pay-order-useragreement .mui-table-view-cell{
	padding-left: 30px;
}
.sps-pay-order-useragreement .mui-table-view-cell:after{
	left: 30px;
}
.sps-pay-order-useragreement img{
	height: 12px;
}
.sps-pay-order-useragreement .mui-table-view-cell>a:not(.mui-btn){
	display: inline;
	padding: 0;
	margin: 0;
	color: #00D1FF;
}
.sps-pay-order-gift{
	color: #F17801;
	margin-left: 4rem;
}
/*我的订单-待发货详情*/
.sps-myordersend-detail{	
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #FFFFFF;
}
.sps-myordersend-detail-title{
	padding: 2rem;
	background-color: #F17801;
	color: #FFFFFF;
}
.sps-myordersend-detail .sps-pay-order-detail{
	padding-top: 0;
	padding-bottom: 20px;
}
.sps-myordersend-detail .sps-pay-order-detail .sps-pay-order-consignee p{
	color: #000000;
}
.sps-myordersend-detail .sps-myorder-send-total{
	border-top: 1px solid #F3F3F3;
}
.sps-myordersend-detail .sps-pay-order-detail .sps-myordersend-detail-product{
	margin-top: 10px;
	margin-bottom: -10px;
}
.sps-myordersend-detail-btm{
	padding: 2rem 2rem;
	border-bottom: 1px solid #F3F3F3;
	min-height: 240px;
}



/*底部*/
.foot{
	width: 100%;
    height: 65px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer table {
    width: 100%;
    height: 65px;
    background-color: #394554;
    position: fixed;
    bottom: 0;
}
.footer table td {
    width: 20%;
    text-align: center;
    padding-top: 5px;
}


/*加入购物车*/
.wwt_join_buy{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
}
.wwt_join_buy_con{
	width: 100%;
	height: 400px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
}
.wwt_sp_info{
	width: 100%;
	height: 100px;
	padding: 10px 3%;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.wwt_sp_info .sp_info_img{
	float: left;
	width: 100px;
	height: 100px;
	margin-top: -20px;
	background-color: red;
}
.wwt_sp_info .sp_info_img img{
	float: left;
	width: 100%;
	height: 100%;
}
.wwt_sp_info .sp_price_kc{
	float: left;
	padding: 0 30px;
	margin-top: 28px;
}
.wwt_sp_info .sp_price_kc .price{
	width: 100%;
	font-size: 18px;
	color: red;
	margin-bottom: 0;
	padding: 5px 0;
}
.wwt_sp_info .sp_price_kc .kc{
	width: 100%;
	font-size: 14px;
	color: #333;
	margin-bottom: 0;
}
.wwt_sp_info .close{
    float: right;
    font-size: 30px;
    color: #bbb;
}
.wwt_sp_num_btn{
	float: left;
	width: 100%;
	height: 120px;
	margin-top: 180px;
	padding-bottom: 10px;
}
.wwt_sp_num_btn p{
	float: left;
	width: 94%;
	margin-left: 3%;
	padding-bottom: 10px;
	margin-bottom: 0;
	color: #333;
	border-bottom: 1px solid #ddd;
}
.wwt_sp_num_btn p span{
	float: left;
	line-height: 30px;
}
.wwt_sp_num_btn p .num{
	float: right;
}
.wwt_sp_num_btn p .num a{
	float: left;
	width: 25px;
	height: 25px;
	border: 1px solid #333;
	line-height: 25px;
	text-align: center;
	color: #333;
	font-size: 20px;
}
.wwt_sp_num_btn p .num input{
	float: left;
	width: 25px;
	height: 25px;
	outline: none;
	border-color: #333;
	border-left: none;
	border-right: none;
	border-radius: 0;
	padding: 0;
	text-align: center;
	font-size: 14px;
}
.wwt_sp_num_btn .btn{
	float: left;
	width: 94%;
	margin-left: 3%;
	height: 60px;
	border: none;
	position: relative;
}
.wwt_sp_num_btn .btn button{
	float: left;
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	background: -webkit-linear-gradient(left, #0189fe 0%,#00e5ff 100%);
    background: -o-linear-gradient(left, #0189fe 0%,#00e5ff 100%);
    background: -ms-linear-gradient(left, #0189fe 0%,#00e5ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0189fe', endColorstr='#00e5ff',GradientType=0 );
}
/*我的订单-待发货*/
.sps-myorder-send{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
	background-color: #F3F3F3;
}
.sps-myorder-send-bg{	
	width: 32rem;
	min-width: 100%;
	background-color: #FFFFFF;
}
.sps-myorder-title table{
	width: 80%;
	height: 50px;
	margin-left: 10%;
}
.sps-myorder-title td{
	line-height: 50px;
	font-size: 16px;
	width: 20%;
	text-align: center;
}
.sps-myorder-send .sps-pay-order-detail{
	padding: 2rem;
	margin-left: 0;
	width: 100%;
	border-bottom: 1px solid #F3F3F3;
}
.sps-myorder-send .sps-pay-order-detail table{
	width: 100%;
}
.sps-myorder-send-total{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #F3F3F3;
}
.sps-myorder-send-total p{
	line-height: 50px;
	color: #000000;
	float: right;
	margin-right: 2rem;
}
.sps-myorder-send-total p span{
	font-size: 16px;
	color: red;
	padding-right: 2rem;
}
.sps-myorder-reminder{
	padding-top: 12px;
	height: 58px;
}
.sps-myorder-reminder button{
	float: right;
	margin-right: 2rem;
	color: #00D1FF;
	border: 1px solid #00D1FF;
	border-radius: 5px;
}
/*团队总业绩*/
.sps-team-performence{
	width: 32rem;
	min-width: 100%;
	min-height: 680px;
}
.sps-team-performence-title{
	background-color: #00A8FF;
	height: 120px;
}
.sps-team-performence .sps-my-head div{
	margin-left: 2rem;
	float: left;
}
.sps-team-performence-title .sps-team-performence-headinfo table td{
	font-size: 12px;
	color: #FFFFFF;
}
.sps-team-performence-headinfo{
	padding-top: 20px;
	padding-left: 11rem;
}
.sps-team-performence-myhigher table{
	width: 100%;
	height: 60px;
	text-align: center;
}
.sps-team-performence-underumbrella{
	line-height: 60px;
	padding-left: 2rem;
	background-color: #F17801;
	color: #FFFFFF;
	font-size: 16px;
}
.sps-team-performence-personal .sps-my-head{
	padding-top: 0;
}
.sps-team-performence-personal .sps-my-head div{
	width: 50px;
	height: 50px;
}
.sps-team-performence-personal table{
	width: 100%;
	color: #838383;
}
.sps-team-performence-personal .sps-team-performence-headinfo table td{
	font-size: 12px;
}
.sps-team-performence-personal .sps-team-performence-headinfo{
	padding-top: 8px;
    padding-left: 8rem;
}
.sps-team-performence-personal .sps-save-wallet-status{
	background-color: #FFFFFF;
	padding-top: 0;
}
.sps-team-performence-bg{
	width: 32rem;
	min-width: 100%;
	min-height: 608px;
	background-color: #FFFFFF;
}
/*输入密码*/
.sps-input-pwd{
	width: 32rem;
	min-width: 100%;
	min-height: 682px;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,.3);
	text-align: center;
	/*position: fixed;*/
}
.sps-pwd-body{
	margin: 0 auto;
	width: 350px;
	height: 200px;
	background-color: #FFFFFF;
	margin-top: 200px;
	opacity: 1;
}
.sps-pwd-close{
	width: 90%;
	height: 20px;
	margin: auto;
}
.sps-pwd-close span{
	display: inline-block;
	margin-left: 300px;
	padding-top: 10px;
	font-size: 30px;
	color: #c0c0c0;
}
/*.sps-pwd-close span:after{
	display: inline-block;
	padding-left: 300px;
	padding-top: 10px;
	content: '×';
	font-size: 30px;
	color: #c0c0c0;
}*/
.sps-pwd-title{
	margin-top: 10px;
	font-size: 20px;
}
.sps-pwd-cont{
	width: 80%;
	margin: auto;
	margin-top: 20px;
}
.sps-pwd-cont table td input{
	float: left;
	width: 16.6%;
	border: 1px solid #C0C0C0;
	border-radius: 0;
}
.sps-pwd-confirm{
	background-color: #00D1FF;
	color: #FFFFFF;
	width: 80%;
	height: 40px;
	font-size: 20px;
}
/*其他*/
.bottomMenuWords{
	font-size: 14px;
}