<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title></title>
	    <script src="/public/js/jquery-2.1.4.min.js"></script>
	    <script src="/public/js/wwt_style.js"></script>
	    <link href="/public/css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" href="/public/css/wwt_style.css" />
	</head>
	<body>
		<div class="nav">
			<a href="javascript:history.back(-1)" class="back"></a>
			发布订单
			<a href="" class="right">记录</a>
		</div>
		<div class="wwt_fb_dd">
			<div class="wwt_fb_title">
				<a href="javascript:;" class="wwt_fb_active">购买</a>
				<a href="javascript:;">出售</a>
			</div>
			<div class="wwt_fb_zong">
				<div class="wwt_fb_con">
					<p>购买价格: <span>1.3658元</span></p>
					<p>购买价格: <input type="text" placeholder="请输入出售价格"/></p>
					<p style="margin-top: 15px;">出售数量: <input type="text" placeholder="请输入出售数量"/></p>
					<p>折合金额: <span>0元</span></p>
					<p>交易密码: <input type="text" placeholder="请输入交易密码"/></p>
					<p style="height: 45px;margin-top: 50px;"><button type="button">确认购买</button></p>
				</div>
				<div class="wwt_fb_con none">
					<p>当前价格: <span>1.3658元</span></p>
					<p>出售价格: <input type="text" placeholder="请输入出售价格"/></p>
					<p style="margin-top: 15px;">出售数量: <input type="text" placeholder="请输入出售数量"/></p>
					<p>折合金额: <span>0元</span></p>
					<p>交易密码: <input type="text" placeholder="请输入交易密码"/></p>
					<p style="height: 45px;margin-top: 50px;"><button type="button">确认出售</button></p>
				</div>
			</div>
			
		</div>
	</body>
	<script>
		$(".wwt_fb_title a").click(function(){
			$(this).addClass("wwt_fb_active").siblings().removeClass("wwt_fb_active");
			var index = $(this).index();
			$(".wwt_fb_zong>div").eq(index).removeClass("none").siblings().addClass("none")
		})
	</script>
</html>
