<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{%$title%}</title>
		<link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
		<link rel="stylesheet" href="public/css/layui.css" />
		<script src="public/js/jquery-2.1.4.min.js"></script>
		<script src="public/js/layui.js"></script>
		<script src="public/js/style.js"></script>
	</head>
	<body style="width: 100%;min-width: 1300px;max-width: 100%;">
		<div class="indexCon">
			<div class="nav">
				<div class="logo"><img src="public/images/logo_a.png"/></div>
				<div class="info">
					<!--<p style="color: #666;line-height: 40px;font-size:17px">欢迎 <span> 李小二 </span> [HD88]</p>
					<p style="color: #333;font-size: 14px;line-height: 25px;"> <span> 2018-02-07 18:06 </span> PM</p>-->
				</div>
				<div class="right">
					<button type="button" class="back_btn">退出</button>
				</div>
			</div>
			<div class="leftNav">
				
				<ul>
					<li class="title">
						<p>
							<a href="m.php?ctl=index">首页</a>
							<a href="m.php?ctl=user" class="hui">会员中心</a>
							<a href="m.php?ctl=incharge">会员充值</a>
							<a href="m.php?ctl=order">订单中心</a>
							<a href="m.php?ctl=deal">商品管理</a>
							<a href="m.php?ctl=type">分类管理</a>
							<a href="m.php?ctl=conf&act=navagation">系统设置</a> 
						</p>
					</li>
					
					
				</ul>
				
			</div>
			<div class="rightCon">
				<div class="hyzx">
					<div class="search">
						<button type="button" class="dc_btn">导出</button>
						<button type="button" class="search_btn">搜索</button>
						<input type="text" class="search_name" placeholder="输入要查询的真是姓名"/>
						<input type="text" class="search_id" placeholder="输入要查询的id"/>
						<input type="text" class="search_p_id" placeholder="输入要查询的推荐人id"/>
						<input type="text" class="search_mobile" placeholder="输入要查询的手机号"/>
					</div>
					<table border="0" border-co cellspacing="0" cellpadding="0" id="tab">
						<tr>
							<th>id</th>
							<th>昵称</th>
							<th>会员等级</th>
							<th>真实姓名</th>
							<th>手机</th>
							<th>推荐人ID</th>
							<th>购物积分</th>
							<th>持币算力</th>
							<th>推广算力</th>
							<th>可用sps链</th>
							<th>锁仓链</th>
							<th>趴点</th>
							<th>是否有效</th>
							<th>操作</th>
						</tr>
						{%foreach from=$data.users_info item=item1%}
							<tr>
							<td style="width: 50px;" class="user_id">{%$item1.id%}</td>
							<td><input type="text" name="user_name" value="{%$item1.user_name%}" disabled="true"/></td>
							<td><input type="text" name="user_level" value="{%$item1.user_level%}" disabled="true"/></td>
							<td><input type="text" name="real_name" value="{%$item1.real_name%}" disabled="true"/></td>
							<td><input type="text" name="phone_number" value="{%$item1.phone_number%}" disabled="true"/></td>
							<td class="p_id">{%$item1.p_id%}</td>
							<td class="consume_credits">{%$item1.consume_credits%}</td>
							<td class="static_reward">{%$item1.static_reward%}</td>
							<td class="dynamic_reward">{%$item1.dynamic_reward%}</td>
							<td class="cz_chain">{%$item1.cz_chain%}</td>
							<td class="sc_chain">{%$item1.sc_chain%}</td>
							<td><input type="text" name="p_rate" value="{%$item1.p_rate%}" disabled="true"/></td>
							<td><input type="text" class="xg" name="is_valid" value="{%$item1.is_valid%}" disabled="true"/></td>
							<td style="width: 120px;">
								<button type="button" class="bj_btn">编辑</button>
								<button type="button" class="wc_btn none">确认</button>
								<button type="button" class="del_btn">删除</button>
							</td>
							</tr>
						{%/foreach%}
					</table>
					
					<div id="demo2"></div>
				</div>
			</div>
		</div>
	</body>
	<style>
	.dc_btn{
		float: right;
	    width: 70px;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
	    border: none;
	    outline: none;
	    background: #01a8ff;
	    color: #fff;
	    font-size: 16px;
	    border-radius: 5px;
	    margin: 6px 15px;
	    cursor: pointer;
	}
	</style>
	<script>
		//编辑会员信息
		$(".bj_btn").click(function(e){
			edit(e);
		});
		
		//提交会员
		$(".wc_btn").click(function(e){
			submit(e);
		})
		
		//删除会员
		$(".del_btn").click(function(e){
			del_user_info(e);
		})
		
		//退出
		$(".back_btn").click(function(){
			back();
		})
		$(window).ready(function(){
			tihuan();
		})
		//搜索会员
		$('.search_btn').click(function(){
			search();
		})
		
		//分页 
		layui.use(['laypage','layer'],function(){
			var laypage = layui.laypage,
			layer = layui.layer;
			laypage.render({
				elem:'demo2',
				count:{%$total_user_count%},
				curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取  
		            var p = location.search.match(/p=(\d+)/);  
		            return p ? p[1] : 1;  
		        }(),
				jump: function(obj,first){//点击页码出发的事件  
		            if(first!=true){//是否首次进入页面  
		                var currentPage = obj.curr;//获取点击的页码   
		                window.location.href ="m.php?ctl=user&p="+currentPage;  
		            }  
		        }  
			})
		})
		
		
		//导出
		$(document).on("click",".dc_btn",function(){
			window.location.href="m.php?ctl=user&act=do_export";
		})
	</script>
</html>
