<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="public/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="public/css/media-100.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/login-style.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/wwt_style.css"/>
	</head>
	<body>	
		<div class="nav">
			<a href="javascript:history.back(-1)" class="back"></a>
			关于SPS
			<a href="javascript:;" class="right">
			</a>
		</div>
		<div class="sps-my-spschain-footer"></div>	
		<div class="sps-detail">
			<div class="sps-announce-detail-cont">
		        <p class="sps-announce-p1"><img src="public/web/images/logo.png" /> </p>
		        <p class="sps-announce-p2">当前版本V1.0.0</p>
			</div>
			<div class="sps-btm-words">内容介绍</div>
		</div>
	</body>
</html>
