<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/media-100.css"/>
		<link rel="stylesheet" type="text/css" href="css/login-style.css"/>
	</head>
	<body>
		<div class="sps-credits-ex">
			<div class="sps-credits-ex-title">
				<span>我的积分</span><span>50000</span>
			</div>
			<div class="sps-pay-in-property">
				<div class="sps-pay-out-2dcode">
					<p>
						<span>手机号码：</span><input type="text" placeholder="请输入对方手机号"/>
					</p>
					<p>
						<span>转出数量：</span><input type="text" placeholder="请输入转给对方数量"/>
					</p>
					<p>
						<span>交易密码：</span><input type="text" placeholder="请输入交易密码"/>
					</p>
					<p class="sps-pay-out-2dcode-btn">
						<input style="margin-top:20px;" type="button" value="确认转出"/>
					</p>
				</div>
			</div>
			<div class="sps-pay-in-detail">
				<div class="sps-pay-in-detail-title">
					<img src="/public/images/detail.png" />
					<span>互转明细</span>
				</div>
				<div class="sps-pay-in-detail-cont">
					<table>
						<thead>
							<tr>
								<td>日期</td>
								<td>类型</td>
								<td>用户</td>
								<td>数量</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2018/05/02</td>
								<td>转入</td>
								<td>136****8899</td>
								<td>8000</td>
							</tr>
							<tr>
								<td>2018/05/02</td>
								<td>转出</td>
								<td>136****6688</td>
								<td>2000</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
