<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/public/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/media-100.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/login-style.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/wwt_style.css"/>
	</head>
	<body>
		<div class="nav">
			<a href="javascript:history.back(-1)" class="back"></a>
			储值钱包链
			<a href="javascript:;" class="right">
			</a>
		</div>
		<div class="sps-my-spschain-footer"></div>
		<div class="sps-save-wallet">
			<div class="sps-save-wallet-total">
				<p>钱包总额</p>
				<p>29870.8</p>
			</div>
			<div class="sps-save-wallet-status">
				<table>
					<tr>
						<td>静态：6000.41</td>
						<td>动态：3800.45</td>
						<td>本金：3800.45</td>
					</tr>
				</table>
			</div>
			<div class="sps-save-wallet-ex">
				<p>
					<span>钱包链兑换积分</span>
					<img src="/public/web/images/step_in.png" />
				</p>
			</div>
			<div class="sps-save-wallet-warn">
				<p>提示：所有静态收益、动态收益及本金返还所获得的收益都将自动转入储值钱包链</p>
			</div>
		</div>
	</body>
</html>
