<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/public/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/media-100.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/login-style.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/wwt_style.css"/>
		<style>
			.sps-mylist-right{
				text-align: right;
				padding-right: 11px;
			}
		</style>
	</head>
	<body>
		<div class="nav">
			<a href="javascript:history.back(-1)" class="back"></a>
			积分互转
			<a href="javascript:;" class="right">
			</a>
		</div>
		<div class="sps-my-spschain-footer"></div>
		<div class="sps-my-spschain">
			<div class="sps-mylist-one">
				<ul class="mui-table-view">	           
		            <li class="mui-table-view-cell">
		                <a href="index.php?ctl=user&act=shopping_sps">
		                    <span class="sps-mylist-left">购物锁链SPS商链</span>	
		                    <span class="sps-mylist-right">&nbsp;<img src="/public/web/images/step_in.png" /></span>		                    
		                </a>
		            </li>
		            <li class="mui-table-view-cell">
		                <a href="index.php?ctl=user&act=sc_sps">
		                    <span class="sps-mylist-left">主动锁链SPS商链</span>	
		                    <span class="sps-mylist-right">&nbsp;<img src="/public/web/images/step_in.png" /></span>		                    
		                </a>
		            </li>
		        </ul>
		    </div>
		    <div class="sps-my-spschain-footer"></div>
		</div>
	</body>
</html>
