<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="public/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="public/css/media-100.css" />
		<link rel="stylesheet" type="text/css" href="public/css/login-style.css" />
		<link rel="stylesheet" type="text/css" href="public/css/wwt_style.css" />
		<script src="/public/js/jquery-2.1.4.min.js"></script>
		<script src="/public/js/layer/layer.js"></script>
		<script src="/public/js/wwt_style.js"></script>
		<style>
			.sps-shopsl-sps-head p {
				border-bottom: 1px solid #f3f3f3;
				border-top: 9px solid #efefef;
				line-height: 54px;
				padding-left: 30px;
				color: #000;
				font-size: 16px;
			}
			
			.sps-shopsl-sps-head p span {
				color: #F17801;
			}
		</style>
	</head>

	<body>
		<div class="sps-shopsl-sps">
			<div class="nav">
				<a href="javascript:history.back(-1)" class="back"></a>
				购物锁链SPS链
				<a href="index.php?ctl=user&act=warm_reminder" class="right">

				</a>
			</div>
			<div class="sps-shopsl-sps-cont">
				<div class="sps-shopsl-sps-head">
					<p>购物锁链SPS商链：<span>0</span></p>
				</div>
			</div>
			<div style="margin-top: -10px;" class="sps-pay-in-detail">
				<div class="sps-pay-in-detail-title">
					<img src="public/web/images/detail.png" />
					<span>购物锁链明细</span>
				</div>
				<div class="sps-pay-in-detail-cont">
					<table>
						<thead>
							<tr>
								<td>日期</td>
								<td>消费</td>
								<td>获得购物锁链</td>
							</tr>
						</thead>
						<tbody>
							{%foreach from=$data.data item=item1%}
							<tr>
								<td class="time">{%$item1.time%}</td>
								<td>{%$item1.base_num%}</td>
								<td>{%$item1.num%}</td>
							</tr>
							{%/foreach%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script>
			var time = document.getElementsByClassName('time');
			for(var i = 0; i < time.length; i++) {
				time[i].innerText = date(time[i].innerText);
			}
			var totalSps = '{%$data.total_sps%}';
			if(totalSps != '') {
				$('.sps-shopsl-sps-head p span').text(parseFloat(totalSps).toFixed(2));
			}

			/*下拉加载*/
			var p = 1;
			var id = {%$user_info.id%};
			$(window).on('scroll', function() {
				if($(window).scrollTop() >= $(document).height() - $(window).height()) {
					p++;
					$.post('api/index.php?ctl=sc&act=get_consume_sps_list', {
						"id": id,
						'p': p
					}, function(data) {
						if(data) {
							var obj = eval('(' + data + ')')
							if(obj.status == true) {
								var _data = obj.data.data;
								for(var i = 0; i < _data.length; i++) {
									$tr = $("<tr><td class='time'>" + date(_data[i].time) + "</td><td>" + _data[i].base_num + "</td><td>" + _data[i].num + "</tr>");
									$tr.appendTo($("tbody"));
								}
							} else {
								layer.msg(obj.msg, function() {

								});
							}
						} else {
							alert('服务器返回一个错误')
						}
					})
				}
			})
		</script>
	</body>

</html>