<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/public/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/media-100.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/login-style.css"/>
	    <link rel="stylesheet" href="/public/css/wwt_style.css" />
	</head>
	<style type="text/css">
		.sps-warm-reminder{
			border-top: 10px solid #efefef;
		}
	</style>
	<body>
		<div class="nav">
			<a href="javascript:history.back(-1)" class="back"></a>
			温馨提示
			<a href="jsvascript:;" class="right">
			</a>
		</div>
		<div class="sps-warm-reminder">
			<div class="sps-warm-reminder-cont">
				<p>（1）锁仓的链，中途不可解锁。</p>
				<p>（2）过30天后，本金每天释放1%，递减。</p>
				<p>（3）最小锁仓数量为100。</p>
			</div>
		</div>
	</body>
</html>
